@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");

body {
  margin: 0;
  font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.section {
	position: relative;
	height: 100%;
}

/* .section .section-center {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
} */

#booking {
	/* font-family: 'Montserrat', sans-serif; */
	background-image: url('./img/background.jpg');
	background-size: 100% 100%;
	background-position: center;
}

/* #booking::before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background: rgba(47, 103, 177, 0.6);
} */

.booking-form {
	background-color: #fff;
	padding: 50px 20px;
	-webkit-box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

.booking-form .form-group {
	position: relative;
	margin-bottom: 30px;
}

.booking-form .form-control {
	background-color: #ebecee;
	border-radius: 4px;
	border: none;
	height: 40px;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #3e485c;
	font-size: 14px;
}

.booking-form .form-control::-webkit-input-placeholder {
	color: rgba(62, 72, 92, 0.3);
}

.booking-form .form-control:-ms-input-placeholder {
	color: rgba(62, 72, 92, 0.3);
}

.booking-form .form-control::placeholder {
	color: rgba(62, 72, 92, 0.3);
}

.booking-form input[type="date"].form-control:invalid {
	color: rgba(62, 72, 92, 0.3);
}

.booking-form select.form-control {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.booking-form select.form-control+.select-arrow {
	position: absolute;
	right: 0px;
	bottom: 4px;
	width: 32px;
	line-height: 32px;
	height: 32px;
	text-align: center;
	pointer-events: none;
	color: rgba(62, 72, 92, 0.3);
	font-size: 14px;
}

.booking-form select.form-control+.select-arrow:after {
	content: '\279C';
	display: block;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

.booking-form .form-label {
	display: inline-block;
	color: #3e485c;
	font-weight: 700;
	margin-bottom: 6px;
	margin-left: 7px;
}

.booking-form .submit-btn {
	display: inline-block;
	color: #fff;
	background-color: #1e62d8;
	font-weight: 700;
	padding: 14px 30px;
	border-radius: 4px;
	border: none;
	-webkit-transition: 0.2s all;
	transition: 0.2s all;
}

.booking-form.trip-total {
    font-size: 14px;
    line-height: 22px;
}

.booking-form.trip-total hr {
    background-color: #CCC;
    margin: 0.75rem 0;
}

.booking-form .submit-btn:hover,
.booking-form .submit-btn:focus {
	opacity: 0.9;
}

.booking-cta {
	margin-top: 80px;
	margin-bottom: 30px;
}

.booking-cta h1 {
	font-size: 52px;
	text-transform: uppercase;
	color: #fff;
	font-weight: 700;
}

.booking-cta p {
	font-size: 16px;
	color: rgba(255, 255, 255, 0.8);
}
.tripselection {
  width: 100%;
    margin-left: 0px !important;
    margin-bottom: 20px;
}
.tripselection .selectiontab {
  width: 50%;
  background-color: #ffdd57;
  color: #000;
  padding: 8px 5px;
  float: left;
  text-align: center;
  border: 1px solid #fff;
  border-bottom: none;
  cursor: pointer;
}
.flightsearch {
  padding: 20px;
  text-align: center;
  margin-top: 5%; 
}
.react-datepicker__input-container input {
  background-color: #ebecee;
    border-radius: 4px;
    border: none;
    height: 40px;
    box-shadow: none;
    color: #3e485c;
    font-size: 14px;
    width: 100%;
}
.flightsearch .row {
  margin-bottom: 20px;
}
.flightsearch .row label {
  margin: 0 5px;
  width: 35%;
  text-align: end;
}
.flightsearch button {
  padding: 5px;
  background-color: green;
  color: #fff;
  margin: 0 auto;
}
.tripselection .active {
  background-color: teal;
  color: #fff;
}
.column.is-half, .column.is-half-tablet {
  width: 100% !important;
}
.media-left {
  width: 30%;
}
.media-left .image {
  float: left;
  margin-right: 20px;
}
.mediasection {
  width: 40%;
  float: left;
}
.mediasection:last-child {
    width: 20%;
}

.action-button {
	height: 2.5em;
}

.bg-fade {
	background-color: rgba(0,0,0, 0.4);
}

.bg-fade .form-label {
	color: #fff;
}

.bg-fade .box {
	color: #fff;
	background-color: transparent;
	box-shadow: none;
}
.username {
	float: left;
    padding: 10px;
}
.promobannerrow {
	padding: 1.5rem;
    padding-right: 10px;
}
.promotionalBannerView {
    font-family: Whitney-Book,Trebuchet MS,Verdana,Tahoma,Sans-Serif;
    position: relative;
    min-height: 164px;
    overflow: hidden;
    background-color: #fff;
    /* border: 1px solid #dce0e8; */
	margin: 0;
}
.promotionalBannerView.promotionalBanners .promotionalBannerImageHolder {
    width: 100%;
    padding: 0;
}
.promotionalBannerImage {
    height: 100%;
    width: 100%;
    max-height: 100%;
}
.img-fluid {
    height: 100% !important;
}
img {
	vertical-align: middle;
	border-style: none;
}
.promotionalBannerView.promotionalBanners .promotionalBannersTextContent {
    width: 100%;
    top: 0;
    color: #0b1f66;
    padding: 25px 30px;
}
.m-0 {
    margin: 0!important;
}
.p-0 {
    padding: 0!important;
}
.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}
.promotionalBannerView.promotionalBanners .promotionalBannersTextContent .textAlignleft {
    text-align: left;
}
.promotionalBannerView.promotionalBanners .promotionalBannersTextContent h3 {
    font-size: 1.375rem;
    line-height: 1.625rem;
    text-transform: none;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 15px;
    width: auto;
}
.whitebg {
	background-color: #fff;
	margin: 1.5rem .5rem !important;
	padding-bottom: 0 !important;
	padding-right: 0px !important;
    margin-right: 0px !important;
}
.pr-0 {
	padding-right: 0px !important;
}
.cusmrgpad {
	margin-left: 0px !important;
    padding-right: 0px !important;
}
.pt-1 {
    padding: .25rem!important;
}
.pr0-xs-up {
	padding-right: 0!important;
	padding-left: 0!important;
}
.col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}
.pt-2 {
    padding: .5rem!important;
}
.flightNumber {
padding-left: 1.5rem;	
}
.col-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
.trip-time {
    color: #0b1f66;
    font-size: 2.25rem;
	line-height: 1.6rem;
	display: inline-block;
	vertical-align: top;
}
.col-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
}
.amenityIcons .icon_flight {
    margin-top: 10px;
}
.text-right {
    text-align: right!important;
}
.flightPathWrapper {
    margin-left: 20px!important;
    margin-right: 20px!important;
}
.flightPathStop {
    height: 5px;
    padding: 0;
    border-bottom: 1px solid #1b345d;
    margin: 0 auto;
}
.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}
.flightresultgridview .flightcardtable .amenityIcons {
    background-image: none;
    text-indent: 0;
}
.icon_flight {
    background-position: -14px -1669px;
    background-image: url(./img/sprites-shopping.png)!important;
    width: 25px;
    height: 25px;
}
.amenityIcons {
    display: inline-block;
    background-image: url(./img/sprites-shopping.png);
    background-repeat: no-repeat;
    overflow: hidden;
    text-indent: -9999px;
    text-align: right;
    margin-right: 5px;
}
.flightMark {
    width: 8px;
    height: 8px;
	background-color: #036;
	margin-left: -15px;
}
.flL {
    float: left;
}
.pt-0 {
	padding-top: 0px !important;
}
.nonstop {
    color: #697180;
    font-size: .75rem;
    font-family: Whitney-Medium;
	line-height: 0px;
	text-align: center;
}
.abslRight {
    position: absolute;
    right: 0;
    top: 0;
}
.flightStopWrapper {
    width: 100%;
    padding-top: 10px;
    color: #0b1f66;
    font-family: Whitney-Semibold;
    font-size: .75rem;
    line-height: 14px;
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.justify-content-between {
    justify-content: space-between!important;
}
.d-flex {
    display: flex!important;
}
.bottomladdercell {
	background: linear-gradient(to right bottom, rgb(58, 72, 105), rgb(94, 117, 177));
	height: 10px;	
}
.bottomladdercell1 {
	background: linear-gradient(to right bottom, rgb(21, 71, 131), rgb(8, 121, 207));
	height: 20px;	
}
.bottomladdercell2 {
	background: linear-gradient(to right bottom, rgb(130, 29, 74), rgb(217, 16, 91));
	height: 30px;	
}
.classtypeparent{
	width: 33.33%;
    border: 1px solid #d0dde8;
	float: left;
	text-align: center;
	padding-bottom: 20px;
}
.economyclasstype {
	margin-top: -5%;
    height: 190px;
}
.businessclasstype {
	margin-top: -4%;
    height: 184px;
}
.mainclasstype {
	margin-top: -6.5%;
    height: 200px;
}
.classtypeparent p {
margin-top: 10px;
}
.flightcost {
	color: #0b1f66;
	font-size: 1.5rem;
	margin-top: 25px !important;
}
.triptypetext {
	line-height: .5;
	font-size: .8rem;
	margin-top: 0px !important;
}
.kep-login-facebook{
    width: 95%;
    padding: 5px !important;
    font-size: 12px !important;
}
.profileimg {
    width: 30px;
    height: 30px;
}
.flightSecFocus {
    text-transform: uppercase;
}
@media (min-width: 768px) {
.pr0-md-up {
    padding-right: 0!important;
}
}
@media (max-width: 768px) {
	.pr-0 {
		margin-top: 45px;
		padding-right: 20px !important;
	}
	}